
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.text-overflow {
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 93px;
    text-align: justify;
    font-size: 16px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    padding: 3px;

}

::-webkit-file-upload-button {
  background:#333536;
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
}

input[type='file'] {
  cursor: pointer;
  padding: 0 !important;
  width: 100% !important;
  margin-bottom: 25px;
  background-color: white;
}

input[type='date'] {

    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
}

.review {
  font-size: 20px;
}

input[type='radio'] {
  width: 15px;
  height: 15px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-transform: uppercase;
  margin: 0 auto 80px;
  border-bottom: 2px double black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
}


.header {
  background-color: white;
  z-index:1000;
  width: 100%;  
  border-bottom: 2px solid rgba(182, 180, 180, 0.5);;
}
.header .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.header .container.reverse {
    flex-direction: row-reverse;
    border-bottom : 2px solid rgba(182, 180, 180, 0.5);
}

.header .logo {
  color: #2196f3;
  font-size: 26px;
  font-weight: bold;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .menu {
  display: flex;
}

.header .no-reverse .menu {
  margin-left: 60px;
}


.header .menu > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  font-size: 18px;
}


.header .menu > li > a:hover {
  color: #2196f3;
  background-color: #fafafa;
}



.landing {
  position: relative;
  padding-top:50px;
}



.landing .container {
  min-height: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}

.landing .text ,.landing .image {
  width: 50%;
}


.landing .text p {
  font-size: 23px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #666;
  max-width: 500px;
}

.landing .image img {
  position: relative;
  width: 100%;
}




.login-register {
  display: flex;
  justify-content: center;
  padding-top:50px;
  background-color: whitesmoke;
  min-height: 480px;

}



.login-register .form {
  display: flex;
  width: 750px;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}


.login-register .form .input {
  display: inline-flex;
  width: 370px;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  background-color: white;
  color: #191919;
}
.label{
  display: inline-flex;
  width: 393px;
  border: none;
}


.login-register .form textarea.input {
  resize: vertical;
  height: 200px;
}


.login-register span {
  display: flex;
  padding-bottom: 20px;
}
.login-register span a {
  padding-left: 10px;
}

.login-register .form .button {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #333536;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.login-register .form .button:hover  {
  background-color: #2196f3;
}

.login-register .content {
  text-align: center;
  padding: 0 20px;
  width: 400px;

}
.login-register .content h2 {
  font-size: 40px;
  padding-bottom: 20px;
  letter-spacing: -2px;
}

.cards {
  padding-top: 100px;
  position: relative;
}

.cards .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cards .box {
  margin-bottom: 20px;
  background-color: ghostwhite;
  width: 30%;
  border-radius: 6px;
  overflow: hidden;
}

.cards .box img {
  width: 100%;
  height: 286px;
  max-width: 100%;
}
.cards .box .content {
  padding: 20px;
}
.cards .box .content h3 {
  margin: 0;
}
.cards .box .content p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: #777;
}
.cards .box .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards .box .info a {
  color: #2196f3;
  font-weight: bold;
  text-decoration: none;

}


.component-details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 0;
  text-align: center;
  background-color: #ccc;

}
.component-details .details {
  background-size: cover;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  width: 50%;
}

.component-details .details img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.component-details#product .details img {
  width: 50%;
  height: 50%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.boxes {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
.boxes .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxes .info {width: 70%;}

.boxes .info .box {
  background-color: #f6f5f5;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  border: 2px solid white;
  position: relative;
  z-index: 1;
}

.boxes .info .box img {
  width: 160px;
  margin-right: 30px;
}

.boxes .info .box h3 {
  margin: 0;
  font-size: 22px;
}
.boxes .info .box p {
  color: #777;
  line-height: 1.7;
  margin: 10px 0 0;
  font-size: 18px;
}

.product {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.product .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.product .box {
  margin-bottom: 20px;
  width: 30%;
  padding: 15px;
  background-color: ghostwhite;
}

.product .box .image {
  position: relative;
  overflow: hidden;
}

.product .box img {
  width: 100%;
  height:286px;
}


.box a,.box_a ,.component-details a , .button.make_review{
  display: block;
  border: 3px solid black;
  width: fit-content;
  margin: 30px auto 30px;
  font-weight: bold;
  font-size: 22px;
  padding: 10px 30px;
  border-radius: 6px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.button.make_review {
  background-color: transparent;
}

.cards#trainers .box a , .cards#doctors .box a{
  border:none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.product .box a:hover , .component-details a:hover,
 .button.make_review:hover , .box_a:hover,
 #cases .box a:hover{
  background-color: #2196f3;
  color:white;
}


.search {
  width: 100%;
  margin-top: 50px;
}
.search form {
  width: 600px;
  margin: 20px auto;
  padding: 30px 40px;
  background-color: #f6f5f5;
  border-radius: 50px;
  display: flex;
  gap: 20px;
}

.search form input[type="search"] {
  padding: 20px;
  border-radius: 50px;
  border: none;
  flex: 1;
  caret-color:#2196f3;
}

.search form input[type="search"]:focus {
  outline: none;
}


.search form input[type="submit"] {
  border-radius: 50px;
  border: none;
  background-color: #2196f3;
  color: white;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
}

.search form input[type="submit"]:hover {
  background-color: #2196f3;
}

#lists{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center !important;
  width: 80%;
}

#lists td, #lists th {
  border: 1px solid #ddd;
  padding: 8px;
}

#lists tr:nth-child(even){background-color: #f2f2f2;}

#lists tr a {
  text-decoration: none;
  color: black;
}

#lists tr a:hover {
  text-decoration: underline;
}

#lists th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #2196f3;
  color: white;
}


.stats {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  min-height: calc(100vh - 293.4px);
  width: 80%;
  margin: 0 auto;
}

.stats h2 {
  font-weight: bold;
  font-size: 40px;
  width: fit-content;
  margin: 0 auto 50px;
  position: relative;
}

.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.stats .box {
  background-color: #ccc;
  padding: 30px 15px;
  text-align: center;
  position: relative;
  opacity: 0.8;
}

.stats .box .number {
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.stats .box .text {
  color: black;
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}

.stats .box a:hover {
  background-color: #2196f3;
}

.stats .box a:hover .text {
  color : white
}


.footer {
  background-color: #191919;
}

.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin : 0;
  border-top: 1px solid #444;
}




